<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado liebre</title>
    <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header class="p-1">
        <div class="logo">
            <img class="w-50"src="/img/logo-mercado-liebre.svg" alt="Logo svg">
        </div>

        <div class="p-1 busqueda">
            <input
              type="text"
              placeholder="Buscá productos por nombre, marcas o palabras clave..."
            />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p class="text-center header-parrafo"> <i class="fa-solid fa-user"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <div class="text-center boton">
            <button id="menuNav">
                <i class="fa-solid fa-bars p-1 bg-blue radius-1 color-white bold"></i>
            </button>
        </div>
        <div class="nav-links">
            <ul class="py-1 sl-none">
                <li><a class="nav-link" href="/mantenimiento">Ofertas</a></li>
                <li><a class="nav-link" href="/mantenimiento">Tiendas Oficiales</a></li>
                <li><a class="nav-link" href="/mantenimiento">Vender</a></li>
                <li><a class="nav-link" href="/mantenimiento">Ayuda</a></li>
            </ul>
            
            <ul class="py-1 sl-none">
                <li><a class="nav-link" href="/register">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                <li><a class="nav-link" href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a class="nav-link" href="/mantenimiento">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        
    </header>
    <section><img src="/img/img-home-banner.jpg" alt="Publicidad" width="100%"></section>
    <main class="p-1">
        <section class="p-1">
            <h2 class="title">Basado en tu última visita</h3>
            <ul class="sl-none list-products">
                <li class="item-products ">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen cafetera" >
                    <div class="items-details">

                        <i class="fa-solid fa-truck truck-icon"></i>
                        <div class="description-products">
                            <div class="price-products">
                                <p class="text-xl price-item">$6.770</p>
                                <p class="color-green text-lg off-item">40% off</p>
                            </div>
                            <h3>Cafetera Moulinex</h3> 
                        </div>           
                    </div>
                </li>
                <li class="item-products ">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen cafetera" >
                    <div class="items-details">

                        <i class="fa-solid fa-truck truck-icon"></i>
                        <div class="description-products">
                            <div class="price-products">
                                <p class="text-xl price-item">$230.000</p>
                                <p class="color-green text-lg off-item">20% off</p>
                            </div>
                            <h3>MacBook Pro 2019</h3> 
                        </div>  
                    </div>
                </li>
                <li class="item-products ">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen cafetera" >
                    <div class="items-details">
                        <i class="fa-solid fa-truck truck-icon"></i>
                        <div class="description-products">
                            <div class="price-products">
                                <p class="text-xl price-item">$70.500</p>
                                <p class="color-green text-lg off-item">10% off</p>    
                            </div>
                            <h3>Samsung Galaxy S10</h3>  
                        </div> 
                    </div>
                </li>
                <li class="item-products ">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen cafetera" >
                    <div class="items-details">
                        <i class="fa-solid fa-truck truck-icon"></i>
                        <div class="description-products">
                            <div class="price-products">
                                <p class="text-xl price-item">$23.200</p>
                                <p class="color-green text-lg off-item">5% off</p>
                            </div>
                            <h3>SmartTV Samsung 43"</h3>  
                        </div> 
                    </div>
                </li>
            </ul>
        </section>
        <section class="p-1">
            <h2>Ofertas</h3>
            <ul class="sl-none list-products">
                <li class="item-products ">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen cafetera" >
                    <div class="items-details">
                        <i class="fa-solid fa-truck truck-icon"></i>
                        <div class="description-products">
                            <div class="price-products">
                                <p class="text-xl price-item">$6.770</p>
                                <p class="color-green text-lg off-item">40% off</p>
                            </div>
                            <h3>Cafetera Moulinex</h3> 
                        </div>           
                    </div>
                </li>
                <li class="item-products ">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen cafetera" >
                    <div class="items-details">
                        <i class="fa-solid fa-truck truck-icon"></i>
                        <div class="description-products">
                            <div class="price-products">
                                <p class="text-xl price-item">$230.000</p>
                                <p class="color-green text-lg off-item">20% off</p>
                            </div>
                            <h3>MacBook Pro 2019</h3>
                        </div>   
                    </div>
                </li>
                <li class="item-products ">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen cafetera">
                    <div class="items-details">
                        <i class="fa-solid fa-truck truck-icon"></i>
                        <div class="description-products">
                            <div class="price-products">
                                <p class="text-xl price-item">$70.500</p>
                                <p class="color-green text-lg off-item">10% off</p>
                            </div>
                            <h3>Samsung Galaxy S10</h3>   
                        </div>
                    </div>
                </li>
                <li class="item-products">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen cafetera" >
                    <div class="items-details">
                        <i class="fa-solid fa-truck truck-icon"></i>
                        <div class="description-products">
                            <div class="price-products">
                                <p class="text-xl price-item">$23.200</p>
                                <p class="color-green text-lg off-item">5% off</p>
                            </div>
                            <h3>SmartTV Samsung 43"</h3>  
                        </div> 
                    </div>
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <ul class="footer-container sl-none">
            <li class="footer-item">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li class="footer-item">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li class="footer-item">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </li>
        </ul>
        <p style="text-align: center; margin-top: 20px;">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

    <script src="/scripts/index.js"></script>
</body>
</html>