<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado liebre</title>
    <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header class="p-1">
        <div class="logo">
            <img class="w-50"src="/img/logo-mercado-liebre.svg" alt="Logo svg">
        </div>

        <div class="p-1 busqueda">
            <input
              type="text"
              placeholder="Buscá productos por nombre, marcas o palabras clave..."
            />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p class="text-center header-parrafo"> <i class="fa-solid fa-user"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <div class="text-center boton">
            <button id="menuNav">
                <i class="fa-solid fa-bars p-1 bg-blue radius-1 color-white bold"></i>
            </button>
        </div>
        <div class="nav-links">
            <ul class="py-1 sl-none">
                <li><a class="nav-link" href="/mantenimiento">Ofertas</a></li>
                <li><a class="nav-link" href="/mantenimiento">Tiendas Oficiales</a></li>
                <li><a class="nav-link" href="/mantenimiento">Vender</a></li>
                <li><a class="nav-link" href="/mantenimiento">Ayuda</a></li>
            </ul>
            
            <ul class="py-1 sl-none">
                <li><a class="nav-link" href="/register">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                <li><a class="nav-link" href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a class="nav-link" href="/mantenimiento">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        
    </header>

    <main class="mantenimiento">
        <h1>EN MANTENIMIENTO <i class="fa-solid fa-screwdriver-wrench"></i></h1>
    </main>

    <script src="/scripts/index.js"></script>
</body>
</html>